<link href="/static/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<form action="/Registration" method="POST" class="center">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Registration</h1>
            </div>
        <div class="login-form" align="center">
                <div class="control-group">
                    <input class="login-field" name="username" placeholder="username" type="text" value="">
                    <label class="login-field-icon fui-user" for="login-name"></label></div>
                <div class="control-group">
                    <input class="login-field" name="password" placeholder="password" type="password" value="">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                <input class="btn btn-primary btn-large btn-block" type="submit" value="Register" >
        </div>
        </div>
    </div>
</form>
